.container {
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  .btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: #3CB371;
    --bs-btn-border-color: #3CB371;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2E8B57;
    --bs-btn-hover-border-color: #2E8B57;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2E8B57 ;
    --bs-btn-active-border-color: #2E8B57 ;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3CB371;
    --bs-btn-disabled-border-color: #3CB371;
}

.btn-outline-danger{
  background-color: #dd4b39;
  border: 0;
  margin-bottom: 10px;
}
button.btn-outline-danger:hover{
  background-color: #993325 !important;
  border: 0;
}